@model SnakeProj.Models.Api.SnakeStatusDataModel

    <table>
        <tr>
            <td> @Model.GameTime</td>
        </tr>
        <tr>
            <td colspan="2"><h3>Snake statistics</h3></td>
        </tr>
        <tr>
            <td>Size: </td>
            <td>@Model.SnakeSize</td>
        </tr>
        <tr>
            <td>Score: </td>
            <td>@Model.SnakeScore</td>
        </tr>
    </table>
<p>====================================</p> 
    <table>
        <tr>
            <td>Alive: </td>
            <td>@Model.isSnakeAlive</td>
        </tr>
        <tr>
            <td>Moving: </td>
            <td>@Model.isSnakeMove</td>
        </tr>
    </table>

